* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

#sizeButton {
    font-size: 25px;
    margin-top: 5rem;
    width: 10rem;
    height: 5rem;
    background-color: aqua;
    border-radius: 20px;
    transition: background-color 0.25s ease-in-out;
}

#sizeButton:hover {
    background-color:aquamarine;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid red;
    background-color: white;
    margin: auto;
}

/* Class that is added on mouseover */
.black {
    background-color: black;
}